<style>
  .is-cncf-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 555px;
    max-width: 100%;
    padding: 30px;
  }
</style>

<footer class="site-footer">
  {{ with .Site.GetPage "privacy.md" }}
  <p class="powered-by">
    {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
  </p>
  {{ end }}

  <div style="font-size: 18px;text-align: center;">Kuasar is a <a href="https://www.cncf.io/">Cloud Native Computing Foundation</a> sandbox project.</div>
  <div style="margin: 52px 0 36px;">
    <img src="/img/cncf-color.png" alt="cloudnative logo" width="495px;" height="100px;" style="margin: 0 auto;">
  </div>
  <div style="font-size: 14px;text-align: center;">The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage </a>page.</br></div>

  <p class="powered-by">
    {{ with .Site.Copyright }}{{ . | markdownify}} &middot; {{ end }}

  <span class="float-right" aria-hidden="true">
    <a href="#" id="back_to_top" tabindex="-1">
      <span class="button_icon">
        <i class="fas fa-chevron-up fa-2x"></i>
      </span>
    </a>
  </span>
</footer>
